@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
}

*{
  transition: all .3s;
}

body {
  background: radial-gradient(circle at bottom, #341847, #120f27 60%);
  color: var(--white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-weight: 600;
  padding-top: 100px;

}

.logo{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Ajusta según tu diseño */
  font-weight: bold; /* Opcional */
  background: linear-gradient(90deg, #ff6a8a, #ff5e4a); /* Degradado de ejemplo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo > h1{
  font-size: 80px;
  font-weight: 700;
}

.search-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.search-form > *{
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 999px;
  color: var(--black);
  outline: none;
  height: 40px;
}

.search-form > button:disabled{
  background-color: lightgrey;
  color: rgb(77, 77, 77);
}
.search-form > button:active{
  background-color: darkgray;
  color: var(--white);
}

h3{
  text-align: center;
  margin-bottom: 10px;
}

.artists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
  color: var(--white);
}

.artist-img{
  height: 160px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  border-radius: 10px;
}

.artist{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 180px;
}

.artist{
  background-color: rgba(112, 64, 145, 0.7);
}

.artist > h5{
  margin-top: 10px;
  margin-bottom: 5px;
  text-wrap: wrap;
}