.admin-container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(112, 64, 145);
  padding: 20px;
  border-radius: 10px;
}

.check-form > input{
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  color: black;
}

.check-form > button{
  background-color: #341847;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-weight: 700;
}